@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
}

.logo {
  width: 2.8vw;
  fill: white;
}

.logo:hover {
  fill: #CAA052;
}

.ikon {
  width: 1.8vw;
  fill: white;
}

.ikon:hover {
  fill: #CAA052;
}

.pil {
  margin: auto;
  margin-top: 10vh;
}

.knap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 7px 10px 7px 10px;
  background-color: #CAA052;
  border-radius: 10px;
  border: 2px solid #CAA052;
  width: 16%;
}

.knap:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #CAA052;
  color: #CAA052;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font: 24px;
  color: white;
}

h1 {
  font-size: 96px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 5px rgb(255, 255, 255);
  letter-spacing: 8px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: white;
}

header {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  height: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 75%;
}
header nav hr {
  width: 7vw;
  top: 12%;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 5vh;
}
header nav ul li {
  display: flex;
  justify-content: start;
}
header nav ul li a {
  font-size: 1.5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /*skal ændres*/
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: #CAA052;
}
header nav .media_ikoner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
main #home_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main #home_section .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  margin-top: 10vh;
}
main #home_section .content .knap {
  margin-top: 2vw;
}
main #home_section .content p {
  width: 60%;
}
main #home_section .content .andersen_afstand {
  margin-left: 5.2vw;
}
main #home_section .content .bugstavs_farve {
  -webkit-text-stroke: 5px #CAA052;
}
main #home_section .trekant {
  position: absolute;
  z-index: -1;
  background-color: #171717;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: #171717;
}
main #home_section .baugrunds_billede {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  background-attachment: fixed;
  /*Virker ikke*/
}
main #omMig_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
main #omMig_section .omMig {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
main #omMig_section .tekst_section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  height: 50vh;
}
main #omMig_section .tekst_section .knap {
  width: 50%;
}
main #omMig_section .billedet_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
main #omMig_section .billedet_section img {
  width: 100%;
}
main #omMig_section hr {
  width: 100%;
}
main #omMig_section .tidslinje {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
main #omMig_section .tidslinje div {
  width: 100vh;
  height: 40vh;
  background-color: #CAA052;
}/*# sourceMappingURL=style.css.map */