@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
}

.maa {
  width: 80%;
}

.logo_box {
  width: 2.8vw;
  fill: white;
}

.logo_box:hover .logo {
  fill: #CAA052;
}

.ikon_box {
  width: 35px;
  fill: white;
}

.ikon_box:hover .ikon {
  fill: #CAA052;
}

.pil {
  padding-top: 10vh;
  /*Slet*/
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.knap {
  /* DIN KODE HER */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: white;
  font-size: clamp(12px, 100vw, 18px);
  padding: 10px 25px 10px 25px;
  background-color: #CAA052;
  border-radius: 10px;
  border: 2px solid #CAA052;
}

.knap:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #CAA052;
  color: #CAA052;
}

p {
  font-family: "Inter", sans-serif;
  /*find anden font*/
  font-weight: 400;
  font-size: 18px;
  color: white;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: white;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: white;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #CAA052;
}

hr {
  width: 60%;
}

.container {
  width: 60%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CAA052;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .maa {
    width: 100%;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }
}
header {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 21.3vh;
  height: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 80%;
}
header nav hr {
  width: 7vw;
  margin: auto;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 85%;
  gap: 5vh;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}
header nav ul li {
  display: flex;
  justify-content: start;
}
header nav ul li a {
  font-size: 2.7vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /*skal ændres*/
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: #CAA052;
}
header nav .media_ikoner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
  }
  header nav {
    justify-content: center;
  }
  header nav .logo_box {
    width: 30px;
    height: 30px;
  }
  header nav ul {
    display: none;
  }
  header nav .media_ikoner {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  header {
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
  }
  header nav {
    justify-content: center;
  }
  header nav .logo_box {
    width: 30px;
    height: 30px;
  }
  header nav ul {
    display: none;
  }
  header nav .media_ikoner {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}
footer .footer_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60%;
}
footer .footer_section .footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
footer .footer_section .footer_content .min_info {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  width: 15%;
  min-width: 300px;
  height: 70%;
}
footer .footer_section .footer_content .min_info .ikon_tekst {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 5%;
}
footer .footer_section .footer_content .min_info .ikon_tekst div p {
  color: #CAA052;
}
footer .footer_section .footer_content .footer_media {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
  width: 12%;
  min-width: 300px;
  height: 40%;
}
footer .footer_section .footer_content .footer_media .media_ikoner {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
    display: none;
    height: 25vh;
    width: 100%;
  }
  footer .logo_box {
    display: none;
  }
  footer .footer_section {
    width: 80%;
  }
  footer .footer_section .footer_content .footer_media {
    height: 45%;
  }
  footer .footer_section .footer_content .footer_media .media_ikoner {
    justify-content: start;
    gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    display: none;
  }
}
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
main .home_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: no-repeat center fixed;
  background-image: url("../img/baugrunds_billeder/Forside_billede.png");
  background-size: cover;
}
main .home_section .home_content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  align-items: flex-start;
  height: 60vh;
  margin-top: 12vh;
}
main .home_section .home_content h1 {
  width: 80%;
}
main .home_section .home_content .bugstavs_farve {
  -webkit-text-stroke: 5px #CAA052;
}
main .home_section .home_content p {
  width: 50%;
}
main .home_section .home_content .andersen_afstand {
  margin-left: 5.2vw;
}
main .home_section .home_content .knap {
  margin-top: 2vw;
}
main .home_section .billede_overlay {
  position: absolute;
  z-index: -1;
  background-color: #171717;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: #171717;
}
main .home_section .baugrunds_billede {
  position: absolute;
  z-index: -2;
  width: 100%;
  top: 0;
  right: 0;
  background-attachment: fixed;
  /*Virker ikke*/
}
main .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}
main .content .omMig_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #171717;
}
main .content .omMig_section .omMig_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .content .omMig_section .omMig_content .omMig {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin: 5vh 0;
}
main .content .omMig_section .omMig_content .omMig .omMig_tekst {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 80%;
  width: 50%;
}
main .content .omMig_section .omMig_content .omMig .billedet_section img {
  width: 80%;
}
main .content .omMig_section hr {
  width: 100%;
}
main .content .omMig_section .billedet_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
main .content .omMig_section .billedet_section img {
  width: 100%;
}
main .content .omMig_section .tidslinje {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  margin: 5vh 0;
}
main .content .omMig_section .tidslinje .swiper {
  width: 100%;
  height: 650px;
  /*TODO!  Juster højten*/
}
main .content .omMig_section .tidslinje .swiper-slide {
  width: 400px;
  height: 100%;
}
main .content .omMig_section .tidslinje .swiper-my-button-prev, main .content .omMig_section .tidslinje .swiper-my-button-next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  z-index: 10;
  cursor: pointer;
}
main .content .omMig_section .tidslinje .swiper-my-button-prev {
  left: 0;
}
main .content .omMig_section .tidslinje .swiper-my-button-next {
  right: 0;
}
main .content .omMig_section .tidslinje .swiper-content {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .content .omMig_section .tidslinje .swiper-content__overskrift {
  margin-bottom: 10px;
}
main .content .omMig_section .tidslinje .swiper-content__work {
  margin-bottom: 40px;
}
main .content .omMig_section .tidslinje .swiper-content__streg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 40px;
}
main .content .omMig_section .tidslinje .swiper-content__ikon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
}
main .content .omMig_section .tidslinje .swiper-content__ikon img {
  width: 50%;
}
main .content .omMig_section .tidslinje .swiper-content__tekst {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
main .content .omMig_section .tidslinje .swiper-content__tekst h3 {
  color: #171717;
  margin-bottom: 10px;
}
main .content .omMig_section .tidslinje .swiper-content__tekst p {
  color: #171717;
}
main .content .omMig_section .tidslinje .swiper-scrollbar-horizontal {
  background-color: white;
}
main .content .omMig_section .tidslinje .swiper-scrollbar-drag {
  background-color: #caa052;
}
main .content .programmer_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background: no-repeat center fixed;
  background-image: url("../img/baugrunds_billeder/Forside_programmer_billede.png");
  background-size: cover;
}
main .content .programmer_section .programmer_billede {
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
  width: 100%;
}
main .content .programmer_section .programmer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 10%;
}
main .content .programmer_section .programmer_content .programmer_ikoner {
  display: flex;
  justify-content: space-between;
}
main .content .programmer_section .programmer_content .programmer_ikoner img {
  width: 80px;
}
main .content .programmer_section .programmer_content .programmer_ikoner .programmer_ikon_boks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.5vh;
  width: 25%;
}
main .content .programmer_section .programmer_content .programmer_ikoner .programmer_ikon_boks .ikon_boks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
}
main .content .programmer_section .programmer_content .programmer_ikoner .programmer_ikon_boks p {
  text-align: center;
}
main .content .projekter_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #171717;
}
main .content .projekter_section .projekter_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  margin: 5vh 0;
}
main .content .projekter_section .projekter_content .web_ikoner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .content .projekter_section .projekter_content .web_ikoner img {
  width: 100%;
}
main .content .kontakt_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}
main .content .kontakt_section .kontakt_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
}
main .content .kontakt_section .kontakt_content .info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
main .content .kontakt_section .kontakt_content .info .min_info {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
main .content .kontakt_section .kontakt_content .info .min_info .ikon_tekst {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 5%;
}
main .content .kontakt_section .kontakt_content .info .min_info .ikon_tekst img {
  width: 5vh;
}
main .content .kontakt_section .kontakt_content .info .min_info .ikon_tekst div p {
  color: #CAA052;
}
main .content .kontakt_section .kontakt_content .info .find_mig {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 18%;
}
main .content .kontakt_section .kontakt_content .info .find_mig .media_ikoner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
main .content .kontakt_section .map {
  width: 40%;
  height: 65%;
}
main .content .kontakt_section .map .google_map {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.webProjekter_body header nav ul {
  display: none;
}
.webProjekter_body .webProjekter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: solid 2px white;
}
.webProjekter_body .webProjekter .home_section {
  background: no-repeat center fixed;
  background-image: url("../img/baugrunds_billeder/WebProjekter_billede.png");
  background-size: cover;
}
.webProjekter_body .webProjekter .projekter_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #171717;
  border-top: solid white 2px;
}
.webProjekter_body .webProjekter .projekter_section .projekter_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  margin: 5vh 0;
}
.webProjekter_body .webProjekter .projekter_section .projekter_content .web_ikoner {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.webProjekter_body .webProjekter .projekter_section .projekter_content .web_ikoner img {
  width: 100%;
}
.webProjekter_body .accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;
  width: 60%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.webProjekter_body .accordion .projekter_accordion_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 100%;
  padding: 50px;
}
.webProjekter_body .accordion .projekter_accordion_section .projekter_accordion_section_tekst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
.webProjekter_body .accordion .projekter_accordion_section .projekter_accordion_section_tekst a {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #caa052;
  gap: 10px;
}
.webProjekter_body .accordion .projekter_accordion_section .projekter_accordion_section_tekst a img {
  width: 10px;
}
.webProjekter_body .accordion .projekter_accordion_section .projekter_accordion_section_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.webProjekter_body .accordion .projekter_accordion_section .projekter_accordion_section_img img {
  width: 100%;
}
.webProjekter_body .accordion li {
  list-style: none;
  width: 100%;
  padding: 10px;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  background-color: #1E1E1E;
}
.webProjekter_body .accordion label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
}
.webProjekter_body .accordion label::before {
  content: "+";
  color: #caa052;
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
.webProjekter_body .accordion input[type=radio] {
  display: none;
}
.webProjekter_body .accordion .accordion_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.webProjekter_body .accordion .accordion_content .accordion_content_tekst_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
}
.webProjekter_body .accordion .accordion_content .accordion_content_box {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_logo h4 {
  margin-bottom: 30px;
}
.webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_logo img {
  width: 50%;
}
.webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_ikon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_ikon h4 {
  margin-bottom: 30px;
}
.webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_ikon img {
  width: 50%;
}
.webProjekter_body .accordion input[type=radio]:checked + label + .accordion_content {
  max-height: 400px;
  padding: 10px 10px 20px;
}
.webProjekter_body .accordion input[type=radio]:checked + label::before {
  content: "-";
  color: #caa052;
}
.webProjekter_body p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .map {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  main .container {
    width: 80%;
  }
  main .home_section {
    height: 70vh;
  }
  main .home_section .home_content {
    width: 80%;
  }
  main .home_section .home_content p {
    width: 100%;
  }
  main .home_section .pil {
    margin: 5vh 0;
    padding: 0;
  }
  main .home_section .pil img {
    width: 75%;
  }
  main .content .omMig_section .omMig_content .omMig {
    display: flex;
    flex-direction: column;
    gap: 10vw;
    height: 70vh;
  }
  main .content .omMig_section .omMig_content .omMig .omMig_tekst {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  main .content .omMig_section .omMig_content .omMig .omMig_tekst p {
    text-align: center;
  }
  main .content .omMig_section .omMig_content .omMig .billedet_section img {
    width: 100%;
  }
  main .content .programmer_section {
    height: 130vh;
  }
  main .content .programmer_section .programmer_content {
    gap: 5%;
  }
  main .content .programmer_section .programmer_content .programmer_ikoner {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  main .content .programmer_section .programmer_content .programmer_ikoner .programmer_ikon_boks {
    width: 80%;
  }
  main .content .projekter_section .projekter_content {
    height: 35vh;
  }
  main .content .kontakt_section .kontakt_content {
    justify-content: start;
    width: 80%;
  }
  main .content .kontakt_section .kontakt_content .info {
    width: 100%;
  }
  main .content .kontakt_section .kontakt_content .info .find_mig {
    height: 20%;
  }
  main .content .kontakt_section .kontakt_content .info .find_mig .media_ikoner {
    width: 50%;
  }
  main .content .kontakt_section .kontakt_content .map {
    display: none;
  }
  .webProjekter_body .webProjekter .home_section {
    height: 80vh;
  }
  .webProjekter_body .webProjekter .home_section .home_content {
    width: 80%;
  }
  .webProjekter_body .webProjekter .home_section .home_content p {
    width: 100%;
  }
  .webProjekter_body .webProjekter .home_section .pil {
    margin: 5vh 0;
    padding: 0;
  }
  .webProjekter_body .webProjekter .home_section .pil img {
    width: 75%;
  }
  .webProjekter_body .webProjekter .projekter_section .projekter_content {
    height: 15vh;
  }
  .webProjekter_body .webProjekter .projekter_section .projekter_content .web_ikoner {
    width: 80%;
  }
  .webProjekter_body .accordion {
    width: 80%;
  }
  .webProjekter_body .accordion .projekter_accordion_section {
    flex-direction: column;
    padding: 30px 10px;
    height: 600px;
    gap: 40px;
  }
  .webProjekter_body .accordion .projekter_accordion_section .projekter_accordion_section_tekst {
    width: 100%;
  }
  .webProjekter_body .accordion .projekter_accordion_section .projekter_accordion_section_img {
    width: 80%;
  }
  .webProjekter_body .accordion .billede_ned {
    flex-direction: column-reverse;
  }
  .webProjekter_body .accordion .accordion_content {
    flex-direction: column;
    max-height: 0px;
  }
  .webProjekter_body .accordion .accordion_content .accordion_content_tekst_box {
    width: 100%;
  }
  .webProjekter_body .accordion .accordion_content .accordion_content_box {
    flex-direction: column;
    width: 100%;
    height: 350px;
  }
  .webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_logo h4 {
    margin-bottom: 10px;
  }
  .webProjekter_body .accordion .accordion_content .accordion_content_box .accordion_content_ikon h4 {
    margin-bottom: 10px;
  }
  .webProjekter_body .accordion input[type=radio]:checked + label + .accordion_content {
    max-height: 700px;
    padding: 10px 10px 20px;
  }
}/*# sourceMappingURL=style.css.map */