* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $sort;
}

.maa {
    width: 80%;
}

.logo_box {
    // width: 50px;
    // width: 25%;
    // width: 5vh;
    width: 2.8vw;
    fill: $hvid;
}
.logo_box:hover {
    .logo{
        fill: #CAA052;
    }
}

.ikon_box {
    width: 1.8vw;
    fill: $hvid;
}
.ikon_box:hover {
    .ikon{
        fill: #CAA052;
    }
}

.pil {
    padding-top: 10vh; /*Slet*/
    margin: auto;
    // margin-top: 10vh; /*Set den til*/
}

.knap {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: $hvid;
    font-size: 24px;
    padding: 7px 10px 7px 10px;
    background-color: $gul;
    border-radius: 10px;
    border: 2px solid $gul;
    
    width: 16%;
}

.knap:hover {
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid $gul;
    color: $gul;
}

p {
    font-family: "Inter", sans-serif; /*find anden font*/ 
    font-weight: 400;
    font-size: 18px;
    color: $hvid;
}

h1 {
    font-size: 96px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0, 0);
    -webkit-text-stroke: 5px rgb(255, 255, 255);
    letter-spacing: 8px;

    // h1::first-letter { //Virker ikke 
    //     /*Virker ikke med -webkit-text-stroke: 5px #CAA052;*/
    //     -webkit-text-stroke: 5px #CAA052;
    //     color: rgb(0, 0, 0, 0);
    // }
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: $hvid;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    color: $hvid;
}

h4 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: $hvid;
}

h5 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: $hvid;
}
