* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $sort;
}

.logo {
    // width: 50px;
    // width: 25%;
    // width: 5vh;
    width: 2.8vw;
}

.ikon {
    width: 1.8vw;
}

.pil {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

h1 {
    font-size: 96px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0, 0);
    -webkit-text-stroke: 5px rgb(255, 255, 255);
    
    h1::first-letter { /*Virker ikke med -webkit-text-stroke: 5px #CAA052;*/
        -webkit-text-stroke: 5px #CAA052;
        color: rgb(0, 0, 0, 0);
      }
}