header {
    position: fixed;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 10vw;
    // height: 100vh;
    height: 100%;

    // background-color: rgba(192, 100, 100, 0.3);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
        height: 90%;
        width: 75%;

        // background-color: rgba(128, 78, 123, 0.3);

        hr {
            // position: absolute;

            width: 7vw;
            // top: 12%;
            margin: auto;
        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            height: 85%;

            gap: 5vh;

            border-top: solid 2px $hvid;
            border-bottom: solid 2px $hvid;

            li{
                display: flex;
                justify-content: start;

                a{
                    font-size: 1.2vw;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*skal ændres*/
                    text-decoration: none;
                    color: $hvid;
                }
                a:hover {
                    color: $gul;
                }
            }
        }
        .media_ikoner {
            display: flex;
            justify-content: space-between;

            width: 100%;
            

        }
    }
}