@media screen and (max-width: 768px) {

    main {

        .container {
            width: 80%;
        }

        .home_section {

            .home_content {
                width: 80%;


                p {
                    width: 100%;
                }
            }
        }

        .content {
            .omMig_section {

                .omMig_content {
                    .omMig {
                        display: flex;
                        flex-direction: column;

                        gap: 10vw;

                        .omMig_tekst {
                            display: flex;
                            // justify-content: space-between;
                            align-items: center;

                            width: 100%;

                            p {
                                text-align: center;
                            }
                        }

                    }

                }

            }

            .programmer_section {
                height: 100vh;
                .programmer_content {
                    .programmer_ikoner{
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        gap: 20px;

                        .programmer_ikon_boks{
                            width: 80%;
                        }
                    }
                }
            }

            .projekter_section {

                .projekter_content {
                    height: 35vh;
                }
            }

            .kontakt_section {

                .kontakt_content {
                    justify-content: start;
                    width: 80%;

                    .info {
                        width: 100%;

                        .find_mig {
                            height: 30%;
                            .media_ikoner {

                                width: 50%;
                            }
                        }

                    }

                    .map {
                        display: none;
                    }
                }
            }

        }

    }
}