@media screen and (max-width: 768px) {

    main {

        .container {
            width: 80%;
        }

        .home_section {

            .home_content {
                width: 80%;

                
                p {
                    width: 100%;
                }
            }
        }

        .content {
            .omMig_section {

                .omMig_content {

                    .omMig {
                        display: flex;
                        flex-direction: column;

                        height: 60vh;

                        // gap: 10vw;

                        .omMig_tekst{
                            display: flex;
                            justify-content: space-between;

                            width: 100%;
                        }

                    }
                }
            }
        }

        .programmer_section {

            .programmer_content {
            }
        }

        .projekter_section {

            .projekter_content {
            }
        }
    }
}