main {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;

    // background-color: rgb(38, 48, 48);

    #home_section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;


        .content {
            display: flex;
            justify-content: space-between;
            // align-items: center;
            flex-direction: column;

            width: 50%;
            height: 60vh;

            // Skal laves på en anden måde for pilen rygger sig også!!!!!
            margin-top: 10vh;
            // margin-right: 10vh;

            // background-color: rgb(43, 74, 74);

            .knap {
                margin-top: 2vw;
            }

            p {
                width: 60%;
            }

            .andersen_afstand {
                margin-left: 5.2vw;
            }

            .bugstavs_farve {
                -webkit-text-stroke: 5px $gul;
            }
        }

        .trekant {
            position: absolute;
            z-index: -1;
            background-color: $sort;
            width: 50%;
            height: 50%;

            top: 0;
            left: 0;

            background-color: $sort;

            // background-color: rgb(44, 68, 60);

        }

        .baugrunds_billede {
            position: absolute;
            z-index: -2;


            top: 0;
            right: 0;

            background-attachment: fixed;
            /*Virker ikke*/
        }
    }

    #omMig_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 60%;

        .omMig {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            height: 60vh;
        }

        .tekst_section {
            display: flex;
            justify-content: space-around;
            // align-items: center;
            flex-direction: column;

            width: 50%;
            height: 50vh;

            .knap {
                width: 50%;
            }
        }

        .billedet_section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            width: 40%;

            img {
                width: 100%;
            }
        }

        hr {
            width: 100%;
        }

        .tidslinje {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            height: 60vh;

            div {
                width: 100vh;
                height: 40vh;
                background-color: $gul;
            }
        }
    }

}