main {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;



    .home_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;

        background: no-repeat center fixed;
        background-image: url("../img/baugrunds_billeder/forside_overlay.png");
        background-size: cover;


        .home_content {
            display: flex;
            justify-content: space-evenly;
            align-items: start;
            flex-direction: column;
            align-items: flex-start;


            // width: 60%;
            height: 60vh;

            margin-top: 12vh;

            // background-color: rgb(43, 74, 74);

            h1 {
                width: 80%;
            }

            .bugstavs_farve {
                -webkit-text-stroke: 5px $gul;

            }

            p {
                width: 55%;
            }

            .andersen_afstand {
                margin-left: 5.2vw;
            }

            .knap {
                margin-top: 2vw;
            }
        }

        .billede_overlay {
            position: absolute;
            z-index: -1;
            background-color: $sort;
            width: 50%;
            height: 50%;

            top: 0;
            left: 0;

            background-color: $sort;

            // background-color: rgb(44, 68, 60);

        }

        .baugrunds_billede {
            position: absolute;
            z-index: -2;

            width: 100%;

            top: 0;
            right: 0;

            background-attachment: fixed;
            /*Virker ikke*/
        }
    }

    .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        border-top: solid 2px $hvid;
        border-bottom: solid 2px $hvid;

        .omMig_section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 100%;

            background-color: $sort;

            .omMig_content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                // width: 60%;

                // background-color: rgb(53, 102, 84);

                .omMig {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    // flex-direction: column;

                    width: 100%;
                    height: 50vh;

                    margin: 5vh 0;

                    // background-color: rgb(54, 66, 121);

                    .omMig_tekst {

                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;


                        height: 95%;
                        width: 50%;

                        // background-color: rgb(26, 87, 87);
                    }

                    .billedet_section {
                        img {
                            width: 80%;
                        }
                    }

                }


            }

            hr {
                width: 100%;
            }

            .billedet_section {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                width: 40%;

                img {
                    width: 100%;
                }
            }

            .tidslinje {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                // height: 75vh;
                width: 100%;

                margin: 5vh 0;

                .swiper {
                    width: 100%;
                    // height: 650px;
                    /*TODO!  Juster højten*/

                    &-slide {
                        width: 400px;
                        height: 100%;
                    }

                    &-my-button {

                        &-prev,
                        &-next {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 25px;
                            height: 25px;
                            // background-color: $gul;
                            z-index: 10;
                            cursor: pointer;
                        }

                        &-prev {
                            left: 0;
                        }

                        &-next {
                            right: 0;
                        }
                    }

                    &-content {
                        width: 100%;
                        height: 100%;
                        padding: 10px 0;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        &__overskrift {
                            margin-bottom: 10px;
                        }

                        &__work {
                            margin-bottom: 40px;
                        }

                        &__streg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 4px;
                            background-color: $hvid;

                            margin-bottom: 40px;

                        }

                        &__ikon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 50px;
                            background-color: $hvid;
                            border-radius: 100%;

                            img {
                                width: 50%;
                            }
                        }

                        &__tekst {
                            display: flex;
                            flex-direction: column;
                            width: 80%;
                            padding: 30px;
                            background-color: $hvid;
                            border-radius: 10px;

                            margin-bottom: 20px;

                            h3 {
                                color: $sort;
                                margin-bottom: 10px;
                            }

                            p {
                                color: $sort;
                            }
                        }

                    }

                    &-scrollbar-horizontal {
                        background-color: white;

                    }

                    &-scrollbar-drag {

                        background-color: #caa052;
                    }
                }
            }
        }

        .programmer_section {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            height: 60vh;

            background: no-repeat center fixed;
            background-image: url("../img/baugrunds_billeder/Forside_programmer_billede1.png");
            background-size: cover;


            .programmer_billede {
                position: absolute;
                z-index: -1;
                background-attachment: fixed;

                width: 100%;
            }

            .programmer_content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                // width: 60%;
                height: 100%;

                gap: 10%;

                // background-color: rgb(110, 77, 156);

                .programmer_ikoner {
                    display: flex;
                    justify-content: space-between;

                    // background-color: rgb(100, 61, 83);


                    img {
                        width: 80px;

                    }

                    .programmer_ikon_boks {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        flex-wrap: wrap;

                        gap: 2.5vh;
                        width: 25%;

                        // background-color: rgb(143, 114, 130);

                        .ikon_boks {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            gap: 1vh;

                            // background-color: rgb(246, 194, 223);
                        }

                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }

        .projekter_section {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: $sort;


            .projekter_content {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                height: 60vh;

                margin: 5vh 0;

                .web_ikoner {
                    display: flex;
                    justify-content: space-between;

                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .kontakt_section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: 100%;
            height: 80vh;

            // background-color: rgb(40, 38, 56);

            .kontakt_content {
                display: flex;
                justify-content: center;
                align-items: center;
                // flex-direction: column;

                width: 60%;
                height: 80%;

                // background-color: rgb(78, 74, 112);

                .info {
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;

                    width: 50%;
                    height: 100%;

                    // background-color: rgb(114, 108, 168);


                    .min_info {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: start;
                        flex-direction: column;

                        width: 100%;
                        height: 100%;

                        // background-color: rgb(154, 149, 202);


                        .ikon_tekst {
                            display: flex;
                            justify-content: start;
                            align-items: center;

                            width: 100%;
                            gap: 5%;

                            img {
                                width: 5vh;
                            }

                            div {
                                p {
                                    color: $gul;
                                }
                            }
                        }
                    }

                    .find_mig {
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;

                        width: 100%;
                        height: 18%;

                        // background-color: rgb(58, 117, 90);

                        .media_ikoner {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            width: 30%;

                            // background-color: rgb(35, 86, 123);
                        }
                    }
                }
            }

            .map {
                width: 40%;
                height: 65%;
                // background-color: rgb(61, 102, 89);

                .google_map {
                    width: 100%;
                    height: 100%;

                    border-radius: 5%;
                }
            }
        }
    }
}

// Web Projekter side 
.webProjekter_body {


    header {
        nav {
            ul {
                display: none;
            }
        }
    }



    .webProjekter {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;

        border-bottom: solid 2px $hvid;

        .home_section {
            background: no-repeat center fixed;
            background-image: url("../img/baugrunds_billeder/projekter_overlay.png");
            background-size: cover;
        }

        .projekter_section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            background-color: $sort;

            border-top: solid #ffff 2px;


            .projekter_content {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                height: 25vh;

                margin: 5vh 0;

                .web_ikoner {
                    display: flex;
                    justify-content: space-between;

                    width: 55%;

                    img {
                        width: 100%;
                    }
                }
            }
        }



    }

    // accordion
    .accordion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-bottom: 10vh;

        width: 60%;

        box-shadow: 10px 10px 10px 10px rgb(0, 0, 0, 0.5);


        .projekter_accordion_section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 400px;
            width: 100%;

            // background-color: rgb(57, 71, 71);
            padding: 50px;

            .projekter_accordion_section_tekst {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                height: 100%;
                width: 50%;

                a {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    text-decoration: none;

                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #caa052;

                    gap: 10px;

                    img {
                        width: 10px;
                    }
                }
            }

            .projekter_accordion_section_img {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 40%;

                img {
                    width: 100%;
                }
            }
        }


        li {
            list-style: none;
            width: 100%;
            padding: 10px;
            border-top: solid #ffff 2px;
            border-bottom: solid #ffff 2px;
            background-color: #1E1E1E;
        }

        label {
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;

            font-family: "Inter", sans-serif;
            font-size: 20px;
            color: $hvid;

        }

        label::before {
            content: '+';
            color: #caa052;
            margin-right: 10px;
            font-size: 24px;
            font-weight: 600;
        }

        input[type="radio"] {
            display: none;
        }

        .accordion_content {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 20px;

            color: #555;
            padding: 0 10px;
            line-height: 26px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s, padding 0.5s;

            .accordion_content_tekst_box {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                width: 50%;
                gap: 10px;
            }

            .accordion_content_box {
                display: flex;
                justify-content: space-between;
                width: 50%;

                .accordion_content_logo {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    width: 100%;

                    h4{
                        margin-bottom: 30px;
                    }

                    img {
                        width: 50%;
                    }
                }

                .accordion_content_ikon {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    
                    width: 100%;

                    h4{
                        margin-bottom: 30px;
                    }

                    img {
                        width: 50%;
                    }
                }
            }

        }

        input[type="radio"]:checked+label+.accordion_content {
            max-height: 400px;
            padding: 10px 10px 20px;
        }

        input[type="radio"]:checked+label::before {
            content: '-';
            color: #caa052;
        }
    }

    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $hvid;
    }
}